<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
        <add key="Pre-Release" value="https://pkgs.dev.azure.com/nagilin/_packaging/Pre-Release/nuget/v3/index.json" />
		<add key="Release" value="https://pkgs.dev.azure.com/nagilin/_packaging/Package/nuget/v3/index.json" />
    </packageSources>
</configuration>