<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="sys:app.name" value="遠距醫療交換模組系統"/>
    <add key="server.endpoint" value="https://hapi.fhir.tw/fhir"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
