<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="sys:app.name" value="遠距醫療資料交換系統"/>
    <add key="server.endpoint" value="https://hapi.fhir.tw/fhir"/>
    <!--<add key="server.endpoint" value="http://192.168.50.5:10050/api"/>-->
    <!--<add key="server.endpoint" value="http://192.168.50.4:8080/fhir"/>-->
    <add key="server.token" value="c0231f31-cdac-4c7d-9520-8de395e13310"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
