<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="sys:app.name" value="遠距醫療資料交換系統"/>
    <!--<add key="server.endpoint" value="https://hapi.fhir.tw/fhir"/>-->
    <!--<add key="server.endpoint" value="http://10.30.99.63:9500/fhir"/>-->
		<!--<add key="server.endpoint" value="https://hapi.fhir.org/" />-->
		
		
		<add key="server.endpoint" value="http://192.168.50.5:10051/api"/>
    <add key="server.token" value="8351218c-0c03-46db-83fa-f7fc021c3333"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
